/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the website */
body {
    font-family: Arial, sans-serif;
    background-color: var(--gray);
    color: var(--white);
}

/* desclare the variables */
:root {
    --gray: #1d2a35;
    --white: white;
}

html {
    scroll-behavior: smooth;
}

/* Customize the scrollbar track */
::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: var(--white);
    /* Color of the thumb */
    border-radius: 5px;
    /* Rounded corners for the thumb */
}

/* Customize the scrollbar track when it's hovered over */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Customize the scrollbar track when it's active (being dragged) */
::-webkit-scrollbar-thumb:active {
    background-color: var(--gray);
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
    background-color: var(--gray);
    /* Color of the track */
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: var(--gray);
    color: var(--white);
    height: 6rem;
    z-index: 100;
    position: sticky;
    top: 0;
    align-items: center;
}

.open_dropdown_container img {
    display: none;
}


nav ul {
    list-style: none;
    padding-top: 26px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}



.dropdowncontainer ul li {
    margin-top: 5px;
}

#opendropdownimg {
    height: 2rem;
}

.hero {
    background-image: url('img/3.jpg');
    opacity: 0.7;
    background-size: cover;
    text-align: center;
    color: var(--white);
    height: 54rem;
    padding: 200px 0;

}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--gray);
}

.hero p {
    color: var(--gray);
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    background-color: var(--gray);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #1d2a3593;
}

/* about section */
.about {
    height: 20rem;
    background-color: var(--gray);
    padding: 40px 0;
}

/* blog section */
.blog {
    /* background-color: var(--gray); */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* contact section */
.contact {
    height: 20rem;
    background-color: var(--gray);
    padding: 40px 0;
}

/* services section */
.services {
    height: 20rem;
    background-color: var(--gray);
    padding: 40px 0;
}



footer {
    background-color: var(--gray);
    color: var(--white);
    text-align: center;
    padding: 10px 0;
}


/* card css  */
.blogsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 13rem;
    width: 90%;

}

.card {
    max-width: 400px;
    margin: 1rem auto;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    border-radius: 1rem;
    backdrop-filter: blur(59px);

}

.card:hover {
    transform: translateY(-5px);
}

/* Styling for the card image */
.card img {
    margin-top: 11px;
    max-width: 94%;
    height: auto;
    border-radius: 1rem;
}

/* Styling for card content */
.card-content {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.card-button:hover {
    background-color: #0056b3;
}


/* classes section  */

.classes {
    padding-top: 13rem;
}

/* hidden class  */
.hidden {
    display: none;
}



/* Responsive design */
@media screen and (max-width: 768px) {
    .card {
        max-width: 100%;
    }
}


@media only screen and (max-width: 1052px) {
    .hero {
        background-image: url('img/6.jpg');
        background-size: cover;
        text-align: center;
        color: var(--white);
        height: 54rem;
        padding: 200px 0;
    }


}

@media only screen and (max-width: 693px) {
    .hero {
        background-image: url('img/7.jpg');
        background-size: cover;
        text-align: center;
        color: var(--white);
        height: 54rem;
        padding: 200px 0;
    }
}

@media only screen and (max-width: 1435px) {
    .blogsContainer {
        grid-template-columns: 1fr 1fr;
    }


    .classes {
        padding-top: 38rem;
    }
}

@media only screen and (max-width: 965px) {
    .blogsContainer {
        grid-template-columns: 1fr;
    }

    .classes {
        padding-top: 87rem;
    }
}


/* dropdowncontainer */
.transform {
    transform: translateY(-95px) !important;
    transition: transform 400ms;
}

.dropdown_container {
    padding-top: 1rem;
    transform: translateY(-416px);
    transition: transform 400ms;
    display: flex;
    justify-content: space-around;
    z-index: 101;
    height: 20rem;
    background-color: var(--gray);
    color: white;
}

.dropdown_container ul {
    display: flex;
    flex-direction: column;
}

.dropdown_container ul li {
    list-style: none;
    margin-top: 20px;
}

.dropdown_container ul li a {
    
    text-decoration: none;
    color: var(--white);
}

.close_dropdown_container img {
    margin-top: 20px;
    height: 1.5rem;
}

/* nav bar media query  */

@media only screen and (max-width: 641px) {

    #container ul {
        display: none;
    }

    #container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .open_dropdown_container img {
        display: block;
        height: 2rem;
    }
}